.container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;                
  gap: 20px;                      
}

.blokkok {
  width: 30%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

body{
    background-color: #696969;
}

h1{
  padding-top: 100px;
  text-align: center  ;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: white;
}

#EDUCATION {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}


#PERSON {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.infok-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

#exp_cimek{
  text-align: center;
}

#lelist:hover {
  font-style: italic;
}

.nyil{
  height: 30px;
}